# Create your own .env file with the next info
DOCKER_USER_NAME=example_name
DOCKER_USER_UID=1234
DOCKER_USER_GID=1234

# You can create one by using:
# echo "DOCKER_USER_NAME=$(whoami)" > .env
# echo "DOCKER_USER_UID=$(id -u)" >> .env
# echo "DOCKER_USER_GID=$(id -g)" >> .env



